<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>re
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <% if session[:user_id] %>
      <%= form_for ([@product, @review]) do |f| %>
        <div class="form-group">
          <%= f.label :rating %>
          <%= f.text_field :rating, class: 'form-control' %>
      </div>
      <div class="form-group">
          <%= f.label :description %>
          <%= f.text_field :description, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit "Submit", class: 'btn btn-primary' %>
      </div>
      <% end %>
    <% end %>
    


    <% @product.reviews.each do |review| %>
      <div class="col-sm-8">
      <dl class="dl-horizontal">
      <h3>COMMENTS</h3>
      <dt>Author</dt>
      <dd><%= review.user.first_name %></dd>
      <dt>Review</dt>
      <dd><%= review.description %></dd>
      </dl>
        <% if review.user.id == session[:user_id] %>
          <%= button_to "delete", product_review_url(:product_id => review.product_id, :id => review.id), :method => :delete %>
        <% end %>
      </div>
      </div>
      <% end %>
      

      </article>
      
      </section>
      